<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.11.1" targetFramework="monoandroid50" />
  <package id="Google.Apis.Auth" version="1.11.1" targetFramework="monoandroid50" />
  <package id="Google.Apis.Core" version="1.11.1" targetFramework="monoandroid50" />
  <package id="Google.Apis.Pubsub.v1" version="1.12.0.441" targetFramework="monoandroid50" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monoandroid50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid50" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid50" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="monoandroid50" />
</packages>